body {
  color: red;
}

.topnav {
  background-color: #333333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #dddddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.contain {
  position: relative;
  text-align: center;
  color: white;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text p {
  font-size: 20px;
}

.spacer {
  height: 150px;
  background-color: #dee3e0;
}

.spacer-with-pdf {
  height: 250px;
  background-color: #242424;
  color: white;
  position: relative;
  text-align: center;
}

.spacer-with-pdf a {
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-c {
  background-color: #967850;
  position: relative;
  text-align: center;
  color: #5c5c5c;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.copyright-contain {
  color: white;
}

.minor-space {
  width: 100%;
  height: 20px;
}